/**
 * @file
 *
 * @see \Drupal\system\Tests\Installer\InstallerTranslationTest::testInstaller()
 */
body {
/*	background-color: #f47e7e;*/
	margin:0;
	padding:0;
}


/*partage social*/
ul.social-networks {
	
    padding-left: 10px;
    margin: 0px auto;
    text-align: right;
    font-size: 1em;
}

ul.social-networks li {
	display: inline-block;
}

ul.social-networks li a.twitter {
	padding: 2px;
	color: #FFF;
    background-color: #0BBCD6;
	display: block;
	text-align: center;
	font-size: 1.5em;
	margin-right: 5px;
	width: 35px;
	height: 35px;
}

ul.social-networks li a.facebook {
	padding: 2px;
	color: #FFF;
    background-color: #369;
	display: block;
	text-align: center;
	font-size: 1.5em;
	margin-right: 5px;
	width: 35px;
	height: 35px;
}

ul.social-networks li a.instagram {
	padding: 2px;
	color: #FFF;
    background-color: #333;
	display: block;
	text-align: center;
	font-size: 1.5em;
	margin-right: 5px;
	width: 35px;
	height: 35px;
}